<!DOCTYPE html>
<html>
<title>
	UGT - Badminton
	</title>
	<meta name="viewport" content=
        "width=device-width,initial-scale=1.0" />
        <style>
        .header-descr
        {
            color:white;
            font-size: 35px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr1
        {
            color:blue;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr2
        {
            color:black;
            font-size: 40px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr3
        {
            color:red;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        ul {
		  list-style-type: none;
		  margin: 10;
		  padding: 0;
		  overflow: hidden;
		  background-color: white;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 16px;
		  
		}

		li a:hover {
			text-decoration:underline;
		  background-color: red;
		}
		p
		{
			padding:0px 20px;
		}
		h5
		{
			padding:0px 20px;
		}
		.container{
             height:50px;
            width:300px;
            font-size:26px;
            text-align:center;
            padding:0px 20px;

        }
    .container1{
          height:50px;
        width:300px;
        font-size:20px;
        text-align:left;
        padding:0px 20px;

    }    
    footer
        {
          text-align:center;
        }
    </style>
          <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	</head>
 <div class="card-panel black">
       <div class="header-descr"><img src="gfgl.png" width="2%"/><b> UG Tournaments</b></div>   
       <div class="header-descr1">India's Biggest Sporting Event</div>
<ul style="position: relative;">
  <li><a href="gfgh">HOME</a></li>
  <li><a href="gfcricket">CRICKET</a></li>
  <li><a href="gffootball">FOOTBALL</a></li>
  <li><a href="gfhockey">HOCKEY</a></li>
  <li><a href="gfkabaddi">KABADDI</a></li>
  <li><a href="gfbadminton">BADMINTON</a></li>
  <li><a href="gfbasketball">BASKETBALL</a></li>
  <li><a href="gfvolleyball">VOLLEYBALL</a></li>
  <li><a href="gfthrowball">THROWBALL</a></li>
  <li><a href="gfmarathon">MARATHON</a></li>
  <li><a href="gfkh">KHO-KHO</a></li>
  <form style="float:right; position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 10px;" action="/logout" method="post">
    <div>
      <input type="submit" name="submit" value="logout" class="btn brand z-depth-0">
    </div>
  </form>
   <!-- <li style="float:right"><a href="logi1.php">LOGIN</a></li> -->
 
</ul>
</div>
<body>
	<div class="header-descr2"><img src="Bad.jpg" width="3%"/><b>Badminton</b></div>
  <div class="header-descr2" style="color: red; font-size: x-large;"><%= error %></div>
  <div class="header-descr2" style="color: green; font-size: x-large;"><%= registerSuccess %></div>
<h5><b>History Of Badminton</b></h5>
<p>
Over 2,000 years ago, in Siam, China, badminton first appeared.
When it arrived in England in 1870, it was played similarly to tennis.
Since 1929, badminton has been played widely in America after first becoming popular in Canada.
Badminton has been an Olympic sport since 1992, and the shuttles may fly at speeds of up to 100 mph.
Lawn, court, or badminton game played with a shuttlecock and light-weight rackets.
The shuttlecock, commonly referred to as a "bird" or "birdie," was historically a little cork hemisphere with 16 goose feathers sewn on it that weighed approximately 0.17 ounce (5 grams).
Modern play may still employ these shuttles, although the Badminton World Federation also permits the use of synthetic shuttles.
The game was initially played around 1873 at Badminton, the duke of Beaufort's rural seat in Gloucestershire, England, thus its name.
The sport has roots in ancient Greece, China, and India, and it shares many similarities with the classic kids' games battledore and shuttlecock.
Poona, a game played by British army officers stationed in India in the 1860s, is closely related to badminton.   
In 1899, the first unofficial men's all-England badminton championships were conducted, and the following year, the first badminton competition for women was organised.
The international governing organisation of the sport, the Badminton World Federation (BWF; formerly the International Badminton Federation), was established in 1934.
Additionally well-liked is badminton in Malaysia, Indonesia, Japan, and Denmark.Numerous nations host regional, national, and zonal badminton competitions.
The All-England Championships are the most well-known of them.
The Uber Cup, presented in 1956 for women's team competition, and the Thomas Cup, donated in 1939 for men's team competition, are two more well-known international competitions.
Badminton made its Olympic debut in 1972 as a demonstration sport and in 1988 as an exhibition sport.
It was became a full-medal Olympic sport for the 1992 Games, including participation in the men's and women's singles (one versus one) and pairs events (two against two).
The mixed pairs event debuted in the 1996 Olympics. 
The inaugural BWF world championships took place in 1977
Because even little breezes may alter the shuttlecock's trajectory, competitive badminton is often played indoors.
The rectangular court is 44 feet (13.4 metres) in length and 17 feet (5.2 metres) in width for singles and doubles (recreational badminton is a popular outdoor summer pastime).
At the centre, a net 5 feet (1.5 metres) high spans the whole width of the court.
There must be 4 feet (1.3 metres) of clean space all around the court.
The only method of play is volleying, which involves striking the shuttlecock back and forth across the net without having it contact the ground outside of the court's perimeter. 
Athletes participate in best-of-three matches in international competition.
If the winner has at least a 2-point edge, the game is played to 21 points.
If a 2-point lead is never achieved, the winner is whomever scores 30 points first—individually or as a team.
Prior to 2006, when the BWF implemented the "rally scoring" system, which allows any side to score at any moment, points were exclusively granted to the serving side. 
</p>
<h5><b> Rules Of Badminton </b></h5>
<p>
	<p>The best of three games, each worth 21 points, constitutes a match.</p>

    <p>A rally is scored as one point for the player or couple that wins it.</p>

    <p>At 20 all, the game is won by the person or couple that first takes a 2-point advantage.</p>

    <p>The team scoring the 30th point wins the match when the score is 29 all.</p>

    <p>In the next game, the player or winning pair gets the first serve.</p>

    <p>In a badminton match, either two opponents (singles) or four opponents (doubles) compete (doubles).</p>

    <p>The official court measurements must be used to play a competitive match inside.</p>

    <p>If the returned shuttlecock hits the net or lands outside of the court, the player loses the point.</p>

    <p>A point is scored when the shuttlecock lands inside the opponent's court.</p>

    <p>The server and receiver begin the rally by positioning themselves on diagonally opposite service courts.</p>

    <p>A valid serve must be delivered diagonally across the court and over the net.</p>

    <p>A badminton serve must be struck beneath the server's waist and under his or her arm.</p>

    <p>When the server hits the shuttle, the entire shuttle should be less than 1.15 metres off the court's surface, with the racquet shaft facing downward.</p>

    <p>It is not permitted for the shuttlecock to bounce.</p>

    <p>The players will proceed to the opposing serving stations for the following point once a point has been won.</p>  
</p>
<h5><b>Schedule</b></h5>
<p>The qualifiers round will happen for each state and in that only the top 1 team from the state will be qualified for the UG Tournaments.</p>
<p>29 teams will be playing in this tournament</p>
<p>29 teams will be divided into six groups</p>
<p>The top 1 team from the each group will be qualified for the Knockouts</p>
<p>Six teams will be playing in Knockouts</p>
<p>Hosts are Bengaluru</p>

<div class="container1">
  <a href="sc1" target="_blank">
      <button>SCHEDULE</button>
  </a>
</div>
<div class="container">
  <form action="/eventRegister" method="post">
    <input type="hidden" id="BADMINTON" name="tournament" value="BADMINTON">
    <input type="submit" name="submit" value="register" class="btn brand z-depth-0">
  </form>  
</div>
<footer>
  <div class="card-panel black">
  <div class="header-descr3">Copyrights UGT 2023</div>
</div>
</footer>
</body>
</html>