<!DOCTYPE html>
<html>
<title>
		UGT - Basketball
	</title>
	<meta name="viewport" content=
        "width=device-width,initial-scale=1.0" />
        <style>
        .header-descr
        {
            color:white;
            font-size: 35px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr1
        {
            color:blue;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr2
        {
            color:black;
            font-size: 40px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr3
        {
            color:red;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        ul {
		  list-style-type: none;
		  margin: 10;
		  padding: 0;
		  overflow: hidden;
		  background-color: white;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 16px;
		  
		}

		li a:hover {
			text-decoration:underline;
		  background-color: red;
		}
		p
		{
			padding:0px 20px;
		}
		h5
		{
			padding:0px 20px;
		}
		.container{
             height:50px;
            width:300px;
            font-size:26px;
            text-align:center;
            padding:0px 20px;

        }
    .container1{
          height:50px;
        width:300px;
        font-size:20px;
        text-align:left;
        padding:0px 20px;

    }
    footer
        {
          text-align:center;
        }
    </style>
          <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	</head>
 <div class="card-panel black">
       <div class="header-descr"><img src="gfgl.png" width="2%"/><b> UG Tournaments</b></div>   
       <div class="header-descr1">India's Biggest Sporting Event</div>
<ul style="position: relative;">
    <li><a href="gfgh">HOME</a></li>
  <li><a href="gfcricket">CRICKET</a></li>
  <li><a href="gffootball">FOOTBALL</a></li>
  <li><a href="gfhockey">HOCKEY</a></li>
  <li><a href="gfkabaddi">KABADDI</a></li>
  <li><a href="gfbadminton">BADMINTON</a></li>
  <li><a href="gfbasketball">BASKETBALL</a></li>
  <li><a href="gfvolleyball">VOLLEYBALL</a></li>
  <li><a href="gfthrowball">THROWBALL</a></li>
  <li><a href="gfmarathon">MARATHON</a></li>
  <li><a href="gfkh">KHO-KHO</a></li>
  <form style="float:right; position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 10px;" action="/logout" method="post">
    <div>
      <input type="submit" name="submit" value="logout" class="btn brand z-depth-0">
    </div>
  </form>
</ul>
</div>
<body>
		<div class="header-descr2"><img src="Bas.jpg" width="2%"/><b>Basketball</b></div>
    <div class="header-descr2" style="color: red; font-size: x-large;"><%= error %></div>
    <div class="header-descr2" style="color: green; font-size: x-large;"><%= registerSuccess %></div>
	<h5><b> History Of Basketball</b></h5>
<p><u>The Place of Basketball's Origin</u>
The sport of basketball is ingrained in Springfield College's culture.
James Naismith, a graduate student and lecturer at Springfield College, created the sport in 1891, and it has since spread to become the well-known sports phenomenon that it is today. 
In order to keep young sportsmen in shape throughout the chilly months, Dr. James Naismith invented basketball as we know it today in Springfield, Massachusetts, in December 1891.
In Springfield, Massachusetts, at the YMCA International Training School, which is now Springfield College, Naismith taught physical education.
To assist sportsmen stay in shape over the winter, Naismith was urged by his supervisor to develop an indoor sport using peach baskets and a soccer-style ball.
13 rules for the new game were issued by him.
He formed two teams of nine players each out of his eighteen students and began instructing them in the fundamentals of his brand-new game. 
The goal of the game was to lob the basketball into the fruit baskets that were affixed to the gym balcony's lower railing.
The game was stopped every time a goal was made so the janitor could get a ladder and get the ball.
The fruit baskets' bottoms were eventually taken off.
Springfield, Massachusetts hosted the first basketball game ever on March 11, 1892.
On December 21, 1891, Naismith published the five fundamental concepts and thirteen regulations for a brand-new game. On that day, he requested his pupils to compete in a game of 9 vs 9 on the Armory Street court using a soccer ball and two peach baskets.
One of his classmates, Frank Mahan, wasn't too pleased.
A person suggested calling it the "Naismith Game," but he countered, "We have a ball and a basket: why don't we name it basketball?"  The eighteen participants were John G.  
Thompson, Eugene S. Libby, Edwin P. Ruggles, William R. Chase, T. Duncan Patton, Frank Mahan, Finlay G. MacDonald, William H. Davis, and Lyman Archibald won by a score of 1-0 over George Weller, Wilbert Carey, Ernest Hildner, Raymond Kaighn, Genzabaro Ishikawa, Benjamin S. French, Franklin Barnes, George Day, and Henry Gelan.  Chase scored the
Until a little hole was made in the bottom of the peach basket to allow the ball to be prodded out with a stick, the peach baskets were closed and balls had to be retrieved manually.
Metal hoops, nets, and backboards weren't adopted until 1906.
The soccer ball was replaced in 1894 by one that Naismith ordered from Spalding.
</p>
<h5><b> Rules Of Basketball</b></h5>
<p><b>Each team has only five players on the court-</b>
Each side is allowed to deploy just five players for each game on the field.
The regulation is applicable to all popular and professional basketball competitions, including the NBA, NCAA, and WNBA.</p> 
<p><b>You Score Should Be More Than The Opponent-</b>
In the scenario where you wish to win the game, your score should be more than the goals of the opponent in the field. There are going to be two or three points that can be worth the field goals.
</p>
<p><b>Score Must Occur Within Shot Time-</b>
The side that is giving possession is given the opportunity to shoot the ball for a brief period of time.
In competitions like the NBA and WNBA, the possession time is 24 seconds.
For NCAA teams, the time limit is 30 seconds.
The shot clock, which is positioned around the hoop on either side, shows the countdown on the court. 
</p>
<p><b>Dribbling the Ball Forward-</b>
Basketball players can only move the ball up or down the court by passing or dribbling while doing so.
If a player stops dribbling and does not restart, they must pass the ball or shoot.
The attacking position player pauses before resuming dribbling the ball. 
</p>
<p><b>The Offense Has 5 Secs to Inbound the Ball-</b>
After the offensive unit makes a basket, the opposition team receives possession.
One of the players must inbound the ball from a set location on the court's sidelines before they may continue playing.The player who has been assigned to another squad has five seconds remaining with them.
When an offensive player tries to inbound the ball, the defender must avoid making contact with the ball to avoid committing a technical penalty. 
</p>
<h5><b>Schedule</b></h5>
<p>The qualifiers round will happen for each state and in that only the top 1 team from the state will be qualified for the UG Tournaments.</p>
	<p>29 teams will be playing in this tournament</p>
	<p>29 teams will be divided into six groups</p>
	<p>The top 1 team from the each group will be qualified for the Knockouts</p>
	<p>Six teams will be playing in Knockouts</p>
	<p>Hosts are Bengaluru</p>

<div class="container1">
    <a href="sc1" target="_blank">
        <button>SCHEDULE</button>
    </a>
</div>
<div class="container">
  <form action="/eventRegister" method="post">
    <input type="hidden" id="BASKETBALL" name="tournament" value="BASKETBALL">
    <input type="submit" name="submit" value="register" class="btn brand z-depth-0">
  </form>  
</div>
<footer>
  <div class="card-panel black">
  <div class="header-descr3">Copyrights UGT 2023</div>
</div>
</footer>
</body>
</html>