<!DOCTYPE html>
<html>

<head>
	<title>
		UGT - Cricket
	</title>
	<meta name="viewport" content=
        "width=device-width,initial-scale=1.0" />
        <style>
        .header-descr
        {
            color:white;
            font-size: 35px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr1
        {
            color:blue;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr2
        {
            color:black;
            font-size: 40px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr3
        {
            color:red;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        ul {
		  list-style-type: none;
		  margin: 10;
		  padding: 0;
		  overflow: hidden;
		  background-color: white;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 16px;
		  
		}

		li a:hover {
			text-decoration:underline;
		  background-color: red;
		}
		p
		{
			padding:0px 20px;
		}
		h5
		{
			padding:0px 20px;
		}
		.container{
            height:50px;
            width:300px;
            font-size:26px;
            text-align:center;
            padding:0px 20px;

        }
    .container1{
        height:50px;
        width:30px;
        font-size:20px;
        text-align:left;
        padding:0px 20px;

    }
    footer
        {
          text-align:center;
        }
    </style>
          <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	</head>
 <div class="card-panel black">
       <div class="header-descr"><img src="gfgl.png" width="2%"/><b> UG Tournaments</b></div>   
       <div class="header-descr1">India's Biggest Sporting Event</div>
<ul style="position: relative">
    <li><a href="gfgh">HOME</a></li>
  <li><a href="gfcricket">CRICKET</a></li>
  <li><a href="gffootball">FOOTBALL</a></li>
  <li><a href="gfhockey">HOCKEY</a></li>
  <li><a href="gfkabaddi">KABADDI</a></li>
  <li><a href="gfbadminton">BADMINTON</a></li>
  <li><a href="gfbasketball">BASKETBALL</a></li>
  <li><a href="gfvolleyball">VOLLEYBALL</a></li>
  <li><a href="gfthrowball">THROWBALL</a></li>
  <li><a href="gfmarathon">MARATHON</a></li>
  <li><a href="gfkh">KHO-KHO</a></li>
  <form style="float:right; position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 10px;" action="/logout" method="post">
    <div>
      <input type="submit" name="submit" value="logout" class="btn brand z-depth-0">
    </div>
  </form>

</ul>
</div>
<body>
	  <div class="header-descr2"><img src="gfgcri.jpeg" width="3%"/><b>Cricket</b></div>  
    <div class="header-descr2" style="color: red; font-size: x-large;"><%= error %></div>
    <div class="header-descr2" style="color: green; font-size: x-large;"><%= registerSuccess %></div>
	<h5><b>History Of Cricket</b></h5>
      
<p>Experts agree that youngsters living in the Weald, a region of thick forests and clearings in south-east England, during the Saxon or Norman eras may have originated cricket.
In 1611, the first time that cricket was mentioned as an adult activity, a dictionary also referred to the game as a boy's game.
There is also the theory that cricket may have evolved from bowls as a result of a batsman's attempt to deflect the ball away from its intended aim. 
By the middle of the 17th century, village cricket had advanced, and in the second half of the century, the first English "county teams" were established, with "local specialists" from village cricket serving as the sport's first professionals.
1709 is the first game in which sides are recorded using county names.Cricket became a popular sport in London and the south-eastern regions of England in the first part of the 18th century.
Women's cricket dates back to 1745, when the first known match was played in Surrey. The first Laws of Cricket were written in 1744 and later amended in 1774, when innovations such as lbw, a third stump, - and others were added. Its spread was constrained by travel restrictions, but it was gradually 
The laws were written up by the “Star and Garter Club” whose members finally created the famed Marylebone Cricket Club at Lord's in 1787.
MCC instantly became the curator of the Laws and has made amendments ever since then to the current day.After 1760, when bowlers started pitching the ball, rolling the ball down the ground became obsolete. In response, the straight bat replaced the previous "hockey-stick" form of bat.
The Hambledon Club in Hampshire was the main centre of the game for roughly thirty years until the creation of MCC and the opening of Lord's Cricket Ground in 1787. Cricket was first brought to North America through the English colonies in the 17th century, and it spread to other areas of the world in the 18th century.
Colonialists brought it to the West Indies, and British East India Company sailors brought it to India.
In the early years of the 19th century, the sport reached New Zealand and South Africa before making its way to Australia practically as soon as colonisation got underway in 1788. 
</p> 


<h5><b>Rules Of Cricket</b></h5>

<p>Cricket is played between two teams each made up of eleven players. (Sometime in junior competitions you will find 8 player teams).
Games comprise of at least one innings where each team will take turns in batting and fielding/bowling.
The fielding team will have a bowler bowl the ball to the batsman who tries to hit the ball with their bat.
The fielding team tries to get the batsmen out by…

   <p>Hitting the wickets with the ball when bowling</p>
    <p>Catching a batsman’s shot on the full</p>
    <p>Hitting the batsman’s leg in front of the wicket (LBW)</p>
    <p>Or hitting the wickets before the batsmen can run to the other end of the pitch</p>
    <p>Before being thrown out, the batsmen aim to score as many runs as they can.</p>
    <p>Before the fielders can smash the wickets with the ball, hitting the ball, sprinting between them, and reaching the other end.</p>
    <p>One run is equal to running one complete length of the pitch.</p>
    <p>It costs four runs to drive the ball to the boundary along the ground.</p>
    <p>Six runs are scored when the ball crosses the boundary on the full. </p>
    <p>Before the fielding team can switch over and begin batting, they must dismiss 10 batters.</p>
    <p>In order to win, your side must score as many runs as you can before the opposing team's fielding squad claims 10 wickets.</p>
    <p>The group scoring the most runs prevails.</p> 
</pre></p>
<h5>Formats</h5>
<h5>10-over Format</h5>
<p>Batting Powerplay - First 3 overs.In this powerplay only 2 fielders to be placed outside the 30 yard circle.</p>
<p>After 3 overs 5 fielders can be placed outside the 30 yard circle</p>
<p>A bowler can bowl minimum 1 over and maximum 2 overs.</p>
<h5>20-over Format</h5>
<p>Batting Powerplay - First 6 overs.In this powerplay only 2 fielders to be placed outside the 30 yard circle.</p>
<p>After 6 overs 5 fielders can be placed outside the 30 yard circle</p>
<p>A bowler can bowl minimum 1 over and maximum 4 overs.</p>
<h5><b>Schedule</b></h5>
<p>The qualifiers round will happen for each state and in that only the top 1 team from the state will be qualified for the UG Tournaments.</p>
	<p>29 teams will be playing in this tournament</p>
	<p>29 teams will be divided into six groups</p>
	<p>The top 1 team from the each group will be qualified for the Knockouts</p>
	<p>Six teams will be playing in Knockouts</p> 
	<p>Hosts are Bengaluru</p>

<div class="container1">
        <a href="sc1" target="_blank">
            <button>SCHEDULE</button>
        </a>
    </div>
<div class="container">
  <form action="/eventRegister" method="post">
    <input type="hidden" id="CRICKET" name="tournament" value="CRICKET">
    <input type="submit" name="submit" value="register" class="btn brand z-depth-0">
  </form>  
</div>
<footer>
  <div class="card-panel black">
  <div class="header-descr3">Copyrights UGT 2023</div>
</div>
</footer>
</body>
</html>