<!DOCTYPE html>
<html>
<head>
	<title>
		UGT - Football
	</title>
	<meta name="viewport" content=
        "width=device-width,initial-scale=1.0" />
        <style>
        .header-descr
        {
            color:white;
            font-size: 35px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr1
        {
            color:blue;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr2
        {
            color:black;
            font-size: 40px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr3
        {
            color:red;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        ul {
		  list-style-type: none;
		  margin: 10;
		  padding: 0;
		  overflow: hidden;
		  background-color: white;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 16px;
		  
		}

		li a:hover {
			text-decoration:underline;
		  background-color: red;
		}
		p
		{
			padding:0px 20px;
		}
		h5
		{
			padding:0px 20px;
		}
		.container{
             height:50px;
            width:300px;
            font-size:26px;
           text-align:center;
            padding:0px 20px;

        }
    .container1{
          height:50px;
        width:300px;
        font-size:20px;
        text-align:left;
        padding:0px 20px;

    }
      footer
    {
      text-align:center;
    } 
    </style>
          <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	</head>
 <div class="card-panel black">
       <div class="header-descr"><img src="gfgl.png" width="2%"/><b> UG Tournaments</b></div>   
       <div class="header-descr1">India's Biggest Sporting Event</div>
<ul style="position: relative;">
    <li><a href="gfgh">HOME</a></li>
  <li><a href="gfcricket">CRICKET</a></li>
  <li><a href="gffootball">FOOTBALL</a></li>
  <li><a href="gfhockey">HOCKEY</a></li>
  <li><a href="gfkabaddi">KABADDI</a></li>
  <li><a href="gfbadminton">BADMINTON</a></li>
  <li><a href="gfbasketball">BASKETBALL</a></li>
  <li><a href="gfvolleyball">VOLLEYBALL</a></li>
  <li><a href="gfthrowball">THROWBALL</a></li>
  <li><a href="gfmarathon">MARATHON</a></li>
  <li><a href="gfkh">KHO-KHO</a></li>
  <form style="float:right; position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 10px;" action="/logout" method="post">
    <div>
      <input type="submit" name="submit" value="logout" class="btn brand z-depth-0">
    </div>
  </form>
 
</ul>
</div>
<body>
	<div class="header-descr2"><img src="foot.jpg" width="2%"/><b>Football</b></div> 
  <div class="header-descr2" style="color: red; font-size: x-large;"><%= error %></div>
  <div class="header-descr2" style="color: green; font-size: x-large;"><%= registerSuccess %></div>
	<h5><b>History Of Football</b></h5>
<p>Football, commonly known as association football or soccer, is a sport in which two teams each have 11 players, and the object of the game is to get the ball into the other team's goal without using hands or arms.
The side with the most goals scored wins.
According to the number of players and viewers, football is the most watched sport in the world. Around 250 million football players played the game worldwide, according to estimates from FIFA, the Fédération Internationale de Football Association.
Britain is where modern football first emerged in the 19th century.
"Folk football" games have been played in cities and villages since before the Middle Ages, according to regional customs and with the barest of regulations.
A history of legal restrictions against particularly violent and destructive forms of folk football combined with industrialization and urbanisation, which decreased the amount of leisure time and space available to the working class, to undermine the game's status from the early 19th century onward.
However, winter football matches between residence houses at public (independent) institutions like Winchester, Charterhouse, and Eton were adopted.
Each school had its own set of regulations; some permitted very restricted ball handling, while others did not.
It was challenging for the public due to the different restrictions.Public schoolboys who entered universities found it challenging to continue playing, outside of with previous classmates, due to the disparity in regulations.
The University of Cambridge made an effort to regulate and codify the game's regulations as early as 1843. By 1848, most public schools had adopted these "Cambridge rules," which were then further popularised by Cambridge alums who founded football clubs.
The written football regulations, which forbade carrying the ball, were created in 1863 following a series of discussions with clubs from metropolitan London and neighbouring counties.
As a result, the rugby "handling" game was excluded from the newly established Football Association (FA).
In fact, the FA forbade the handling of the ball by anybody other than the goalkeeper by 1870. 
Around 250 million football players played the game globally, according to estimates from FIFA, the Fédération Internationale de Football Association. 
</p>
<h5><b>Rules Of Football</b></h5>
<p><b> The Playing Field-</b>
The dimensions and markings of the soccer field or football pitch are decided by this law.
With the exception of recreational matches, which occasionally occur on dirt ground, the pitch is made of natural or artificial grass. 
<br>
<b>The Round-</b>
This legislation outlines the ball's dimensions, material make-up, and form.
According to the regulation, a size 5 ball must have a standard diameter of around 22 cm and a circumference of 68–70 cm.
The weight range for the soccer ball is 410–450 kg.
<br>
<b>The Players-</b>
Each squad should consist of 11 players.
Only one of the eleven must be the goaltender.
A team is deemed complete when it has at least seven players.
Either the players' torsos or legs should be used to strike the ball.
Except for goalkeepers, no player is allowed to touch the ball with their hands or arms.
<br>  
<b>Equipment Used by the Players-</b>
According to the rules, each player must wear a shirt, shorts, pair of socks, shoes, and appropriate shin guards.
Although it is not required, they may choose to wear headgear.
<br>
<b>The Arbitrator or Referee-</b>

An official who oversees a game is called a referee.
In all situations, even disagreements, they have the last word.
They have the authority to punish a player, halt a game in the event of a foul, and generally are in charge of making sure the game runs well. 
<br>
<b>The Other Match Officials-</b>
One who oversees a game is a referee.
In all conflicts, they are the final arbiter.
In addition to having the authority to punish a player and halt a game in the event of a foul, they are also in charge of generally ensuring that the game runs smoothly. 
<br>
<b>Duration Of The Game-</b>
A standard football game lasts 90 minutes, which are broken up into two halves of 45 minutes each.
A 15-minute halftime break is taken in between each of the two halves.
The game is over when the clock reaches full time. 
</p>
<h5><b>Schedule</b></h5>
<p>The qualifiers round will happen for each state and in that only the top 1 team from the state will be qualified for the UG Tournaments.</p>
	<p>29 teams will be playing in this tournament</p>
	<p>29 teams will be divided into six groups</p>
	<p>The top 1 team from the each group will be qualified for the Knockouts</p>
	<p>Six teams will be playing in Knockouts</p>
	<p>Hosts are Bengaluru</p>

<div class="container1">
        <a href="sc1" target="_blank">
            <button>SCHEDULE</button>
        </a>
    </div>
<div class="container">
  <form action="/eventRegister" method="post">
    <input type="hidden" id="FOOTBALL" name="tournament" value="FOOTBALL">
    <input type="submit" name="submit" value="register" class="btn brand z-depth-0">
  </form>  
</div>
<footer>
  <div class="card-panel black">
  <div class="header-descr3">Copyrights UGT 2023</div>
</div>
</footer>
</body>
</html>