<!DOCTYPE html>
<html>
<head>
	<title>
		UGT
	</title>
	<meta name="viewport" content=
        "width=device-width, initial-scale=1.0" />
        <style>
        .header-descr
        {
            color:white;
            font-size: 35px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr1
        {
            color:blue;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr2
        {
            color:red;
            font-size: 20px;
            padding: 0px 20px;
            text-align:right;
        }
        .header-descr3
        {
            color:red;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        ul {
		  list-style-type: none;
		  margin: 10;
		  padding: 0;
		  overflow: hidden;
		  background-color: white;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 16px;
		  
		}

		li a:hover {
			text-decoration:underline;
		  background-color: red;
		}
		p
		{
			padding:0px 20px;
		}
		h5
		{
			padding:0px 20px;
		}
		.container1{
            height:50px;
            width:30px;
            font-size:20px;
            text-align:left;
            padding:0px 20px;

        }
         footer
        {
          text-align:center;
        }
    </style>
          <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	</head>
 <div class="card-panel black">
       <div class="header-descr"><img src="gfgl.png" width="2%"/><b> UG Tournaments</b></div>   
       <div class="header-descr1">India's Biggest Sporting Event</div>
       
<ul style="position: relative;">
    <li><a href="gfgh">HOME</a></li>
  <li><a href="gfcricket">CRICKET</a></li>
  <li><a href="gffootball">FOOTBALL</a></li>
  <li><a href="gfhockey">HOCKEY</a></li>
  <li><a href="gfkabaddi">KABADDI</a></li>
  <li><a href="gfbadminton">BADMINTON</a></li>
  <li><a href="gfbasketball">BASKETBALL</a></li>
  <li><a href="gfvolleyball">VOLLEYBALL</a></li>
  <li><a href="gfthrowball">THROWBALL</a></li>
  <li><a href="gfmarathon">MARATHON</a></li>
  <li><a href="gfkh">KHO-KHO</a></li>
  <form style="float:right; position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 10px;" action="/logout" method="post">
    <div>
      <input type="submit" name="submit" value="logout" class="btn brand z-depth-0">
    </div>
  </form>
</ul>
</div>
<body>
	<h5><b>About</b></h5>
	<p>UG Tournaments is a tournament which will be conducted across in India.Its a national tournament and it is <b>India's Biggest Sporting Event</b>.Cricket, Football, Hockey, Kabaddi, Badminton, Basketball, Volleyball, Throwball, Marathon and Kho-Kho sporting games will be organized in this sporting event.Before starting the tournament the inter-state competition will happen in every state and the winning team from the competition will be qualified for this tournament and will be participating in this tournament.So 29 teams will be participating in this sporting event.Each team will represent their state.In this sporting event only ug studentss can participate.By this sporting event the people who want to showcase their talents they can showcase their talents in this event in which the people haven't showcase their talents before due to some reasons.This is the best sporting platform to showcase their talents.This tournament will held in <b>Hyderabad, Chennai, Delhi, Mumbai, Kolkata, Bengaluru</b>.This time this tournament will held in Bengaluru.So Hosts are <b>Bengaluru</b>.</p>
	<h5><b>Schedule Of Marathon</b></h5>
    <p>In this event the teams will be dividing into groups.The 29 teams will be divided into three groups.Like ten teams in group 1 and ten teams in group 2 and nine teams in group 3.In this event three knockouts will happen.Knockout 1 will happen in between group 1 and knockout 2 will happen in between group 2 and knockout 3 will happen in between in group 3.The <b>top three teams</b> from each will be playing in the final.So totally <b>nine teams</b> will be playing final.</p>
    <p>Click below button to view the Schedule</p>
    <div class="container1">
    	<a href="ugtt" target="_blank">
    		<button>SCHEDULE</button>
    	</a>
    </div>
    <p>Click below button to view the roadmap for the marathon</p>
    <div class="container1">
    	<a href="roadmap" target="_blank">
    		<button>ROADMAP</button>
    	</a>
    </div>
    <h5><b>Rewards</b></h5>
  <p>1<sup>st</sup> Place[Winner] will receive - 20 Lakhs</p>
  <p>2<sup>nd</sup> Place[Runner-Up] willreceive - 15 Lakhs</p>
  <p>3<sup>rd</sup> Place will receive - 10 Lakhs</p>
  <p>Teams that are qualified for this event will receive - 5 Lakhs</p>
    <h5><b>Schedule Of Other games</b></h5>
    <p>In this event the teams will be dividing into groups.The 29 teams will be divided into six groups.Like five teams in group 1 and five teams in group 2 and five teams in group 3 and five teams in group 4 and five teams in group 5 and four teams in group 6.The winner of each group will be qualified for the knockouts.So totally <b>six teams</b> will be qualified for the knockouts.In this event <b>three knockouts</b> will happen. Knockout 1 will happen in between group 1 winner and group 4 winner.Knockout 2 will happen in between group 2 winner and group 5 winner.Knockout 3 will happen in between group 3 winner and group 6 winner.The winners of knockout will be playing semi finals.So totally three teams will be playing semi finals.In this event <b>three semi finals</b> will happen.Semi final 1 will happen in between knockout 1 winner and Knockout 2 winner.Semi final 2 will happen in between knockout 2 winner and knockout 3 winner.Semi final 3 will happen in between knockout 3 winner and knockout 1 winner.Now in this three knockout winning teams will play this semi finals and the <b>top two teams</b> from that will be playing the finals.
    	<p>Click below button to view the Schedule</p>
    <div class="container1">
    	<a href="sc1" target="_blank">
    		<button>SCHEDULE</button>
    	</a>
    </div>
  <h5><b>Rewards</b></h5>
  <p>1<sup>st</sup> Place[Winner] will receive - 20 Lakhs</p>
  <p>2<sup>nd</sup> Place[Runner-Up] willreceive - 15 Lakhs</p>
  <p>3<sup>rd</sup> Place will receive - 10 Lakhs</p>
  <p>Teams that are qualified for the Knockouts will receive - 8 Lakhs</p>
  <p>Teams that are qualified for this event will receive - 5 Lakhs</p> 
  <footer>
    	<div class="card-panel black">
    	<div class="header-descr3">Copyrights UGT 2023</div>
    </div>
    </footer>
</body>
</html>