<!DOCTYPE html>
<html>
<head>
<title>
		UGT - Hockey
	</title>
	<meta name="viewport" content=
        "width=device-width,initial-scale=1.0" />
        <style>
        .header-descr
        {
            color:white;
            font-size: 35px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr1
        {
            color:blue;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr2
        {
            color:black;
            font-size: 40px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr3
        {
            color:red;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        ul {
		  list-style-type: none;
		  margin: 10;
		  padding: 0;
		  overflow: hidden;
		  background-color: white;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 16px;
		  
		}

		li a:hover {
			text-decoration:underline;
		  background-color: red;
		}
		p
		{
			padding:0px 20px;
		}
		h5
		{
			padding:0px 20px;
		}
		.container{
             height:50px;
            width:300px;
            font-size:26px;
            text-align:center;
            padding:0px 20px;

        }
    .container1{
          height:50px;
        width:300px;
        font-size:20px;
        text-align:left;
        padding:0px 20px;

    }
      footer
    {
      text-align:center;
    }
    </style>
          <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	</head>
 <div class="card-panel black">
       <div class="header-descr"><img src="gfgl.png" width="2%"/><b> UG Tournaments</b></div>   
       <div class="header-descr1">India's Biggest Sporting Event</div>
<ul style="position: relative;">
  <li><a href="gfgh">HOME</a></li>
  <li><a href="gfcricket">CRICKET</a></li>
  <li><a href="gffootball">FOOTBALL</a></li>
  <li><a href="gfhockey">HOCKEY</a></li>
  <li><a href="gfkabaddi">KABADDI</a></li>
  <li><a href="gfbadminton">BADMINTON</a></li>
  <li><a href="gfbasketball">BASKETBALL</a></li>
  <li><a href="gfvolleyball">VOLLEYBALL</a></li>
  <li><a href="gfthrowball">THROWBALL</a></li>
  <li><a href="gfmarathon">MARATHON</a></li>
  <li><a href="gfkh">KHO-KHO</a></li>
  <form style="float:right; position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 10px;" action="/logout" method="post">
    <div>
      <input type="submit" name="submit" value="logout" class="btn brand z-depth-0">
    </div>
  </form>
  
</ul>
</div>
<body>
	<div class="header-descr2"><img src="hock.jpg" width="3%"/><b>Hockey</b></div>
  <div class="header-descr2" style="color: red; font-size: x-large;"><%= error %></div>
  <div class="header-descr2" style="color: green; font-size: x-large;"><%= registerSuccess %></div>
	<h5><b> History Of Hockey</b></h5>
<p>
	The roots of hockey are buried deep in antiquity. Historical records show that a crude form of the game was played in Egypt 4,000 years ago and in Ethiopia around 1,000BC, whilst an ancient form of the game was also played in Iran in around 2,000BC. 
Various museums offer evidence that a form of the game was played by the Romans and Greeks as well as by the Aztecs several centuries before Columbus arrived in the New World.
The modern game of hockey emerged in England in the mid-18th century and is largely attributed to the growth of public schools, such as Eton.
The first Hockey Association was formed in the UK in 1876 and drew up the first formal set of rules. The original association survived for just six years but, in 1886, it was revived by nine founding member clubs.
</p>
<p>
	The inaugural Olympic Hockey Competition for men was held in London in 1908 with England, Ireland, Scotland and Wales competing separately. With the addition of Germany and France, the competition ran with six teams.
After having made its first appearance at the London Games, hockey was subsequently dropped from the 1912 Stockholm Games after host nations were granted control over ‘optional sports’. It reappeared in 1920 in Antwerp after pressure from Belgian hockey advocates before being omitted again in Paris in 1924.
The formation of the International Hockey Federation in 1924 was not soon enough for the Paris Olympics but it did grant hockey re-entry in Amsterdam in 1928. Hockey has been on the programme ever since, with women's hockey included for the first time in Moscow in 1980.
</p>
<p>
	Motivated by hockey’s omission from the 1924 Paris Games, the Fédération Internationale de Hockey sur Gazon (FIH) was founded by Paul Léautey. M. Léautey, who would later become the first president of the FIH, called together seven National Federations to form the sport’s international governing body.
These founding members, which represented both men's and women's hockey in their countries, were Austria, Belgium, Czechoslovakia, France, Hungary, Spain and Switzerland.
Popularised in the late 19th century, the women’s game developed quickly in many countries. In 1927, the International Federation of Women's Hockey Associations (IFWHA) was formed. After celebrating their respective Golden Jubilees - the FIH in 1974 and the IFWHA in 1980 - the two organisations came together in 1982 to form the current FIH.
By 1964, there were already 50 countries affiliated with the FIH, as well as three Continental Associations - Africa, Pan America and Asia - and in 1974, there were 71 members. Today, the International Hockey Federation consists of five Continental Associations, 137 National Associations and is still growing.
</p>
<p>
	Hockey became popular in India when the British Regiments played the game in India and introduced it and the first hockey club was formed in Calcutta in 1885-86 followed by Bombay and Punjab.
	</p>
<h5><b>Rules Of Hockey</b></h5>
<p>
	Hockey is a sport where you use a stick with a curved bottom and hit the ball inside the opponent’s goal to score a point. Two teams with 11 players each try to score more goals than their opponents to win the game.
	</p>
<p>
	Players are not allowed to kick the ball or the puck (the game ball – for field hockey and – a disk-shaped object made with hard rubber which is used in ice hockey is called a ‘puck’) into the net or purposely hit it with any part of their body.
</p>
<p>
	In the match, each team uses five skaters, three forwards, two defenders, and finally a goalkeeper. (For Ice Hockey)
	</p>
<p>
	In the match, each team uses 11 players which consist of forwards, fullbacks, midfielders, sweepers, and a goalkeeper. (For Field Hockey)
</p>
<p>
  The total duration of a field hockey match is 60 minutes (four quarters of 15 minutes each). Before 2019, matches were played for 70 minutes, with a five-minute halftime break after 35 minutes.
</p>
<h5><b>Schedule</b></h5>
<p>The qualifiers round will happen for each state and in that only the top 1 team from the state will be qualified for the UG Tournaments.</p>
	<p>29 teams will be playing in this tournament</p>
	<p>29 teams will be divided into six groups</p>
	<p>The top 1 team from the each group will be qualified for the Knockouts</p>
	<p>Six teams will be playing in Knockouts</p>
	<p>Hosts are Bengaluru</p>

	<div class="container1">
        <a href="sc1" target="_blank">
            <button>SCHEDULE</button>
        </a>
    </div>
<div class="container">
  <form action="/eventRegister" method="post">
    <input type="hidden" id="HOCKEY" name="tournament" value="HOCKEY">
    <input type="submit" name="submit" value="register" class="btn brand z-depth-0">
  </form>  
</div>
<footer>
  <div class="card-panel black">
  <div class="header-descr3">Copyrights UGT 2023</div>
</div>
</footer>
</body>
</html>