<!DOCTYPE html>
<html>
<head>
	<title>
		UGT - kabaddi
	</title>
	<meta name="viewport" content=
        "width=device-width,initial-scale=1.0" />
        <style>
        .header-descr
        {
            color:white;
            font-size: 35px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr1
        {
            color:blue;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr2
        {
            color:black;
            font-size: 40px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr3
        {
            color:red;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        ul {
		  list-style-type: none;
		  margin: 10;
		  padding: 0;
		  overflow: hidden;
		  background-color: white;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 16px;
		  
		}

		li a:hover {
			text-decoration:underline;
		  background-color: red;
		}
		p
		{
			padding:0px 20px;
		}
		h5
		{
			padding:0px 20px;
		}
		.container{
             height:50px;
            width:300px;
            font-size:26px;
            text-align:center;
            padding:0px 20px;

        }
    .container1{
          height:50px;
        width:300px;
        font-size:20px;
        text-align:left;
        padding:0px 20px;
    }
      footer
    {
      text-align:center;
    }
    </style>
          <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	</head>
 <div class="card-panel black">
       <div class="header-descr"><img src="gfgl.png" width="2%"/><b> UG Tournaments</b></div>   
       <div class="header-descr1">India's Biggest Sporting Event</div>
<ul style="position: relative;">
  <li><a href="gfgh">HOME</a></li>
  <li><a href="gfcricket">CRICKET</a></li>
  <li><a href="gffootball">FOOTBALL</a></li>
  <li><a href="gfhockey">HOCKEY</a></li>
  <li><a href="gfkabaddi">KABADDI</a></li>
  <li><a href="gfbadminton">BADMINTON</a></li>
  <li><a href="gfbasketball">BASKETBALL</a></li>
  <li><a href="gfvolleyball">VOLLEYBALL</a></li>
  <li><a href="gfthrowball">THROWBALL</a></li>
  <li><a href="gfmarathon">MARATHON</a></li>
  <li><a href="gfkh">KHO-KHO</a></li>
  <form style="float:right; position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 10px;" action="/logout" method="post">
    <div>
      <input type="submit" name="submit" value="logout" class="btn brand z-depth-0">
    </div>
  </form>
  
</ul>
</div>
<body>
	<div class="header-descr2"><img src="kaba.jpg" width="3%"/><b>Kabaddi</b></div>
  <div class="header-descr2" style="color: red; font-size: x-large;"><%= error %></div>
  <div class="header-descr2" style="color: green; font-size: x-large;"><%= registerSuccess %></div>
	<h5><b> History Of Kabaddi</b></h5>
<p>
Since 1930, the modern Kabaddi game has been played throughout India and some other regions of South Asia.
In Maharashtra in the year 1921, for Kabaddi contests on the combined pattern of Sanjeevani and Gemini, the earliest framework of the game's regulations is believed to have been created. 
With seven players on each side, Kabaddi is essentially a combat sport. It is played for 40 minutes with a 5-minute break (20-5-20).
The goal of the game is to touch as many defensive players as you can without being caught on a breath while raiding into the opponent's court to earn points.
One participant is chanting "Kabaddi!"Kabaddi!!!!Kabaddi!!!!
charges into the opposing team's court and tries to touch the opponent who is closest to him while the other six players move to stop him.
This is a Kabaddi match, also known as the struggle game, which pits one person against seven. The offensive player is referred to as the "Raider," while the defensive players are referred to as "Antis."
In Kabaddi, the assault is referred to as a "Raid."
The antis touched by the raider during the attack are declared ‘out’ if they do not succeed in catching the raider before he returns to home court.
These players can resume play only when their side scores points against the opposite side during their raiding turn or if the remaining players succeed in catching the opponent’s raider.
The game has been played in various ways since prehistoric times.
Since 1930, the contemporary Kabaddi game has been played across India and certain other regions of South Asia.
In Maharashtra in the year 1921, for Kabaddi contests on the combined pattern of Sanjeevani and Gemini, the earliest framework of the game's regulations is believed to have been created.
After that, a committee established in 1923 revised the norms created in 1921.
The All India Kabaddi Tournament, which was held in 1923, used the revised regulations. 
The All India Kabaddi Federation was established in 1950 to handle the game's marketing, and the Senior National Championship debuted in 1952.
The new organisation, Amateur Kabaddi Federation of India (AKFI), was founded in 1972 and is associated with the Indian Olympic Association (IOA). Its goal is to spread awareness of the sport throughout India and its Asian neighbours.
Kabaddi changed after the creation of this organisation, and contests at the national level for junior and under-junior boys and girls also began. 
The game was included in the South Asian Federation (SAF) games from the year 1984 at Dacca, Bangladesh. Kabaddi was included as a discipline in the 11th Asian Games Beijing 1990 and India won the lone Gold Medal of Kabaddi in the 11th Asian Games Beijing 1990. India is the reigning champion in the succeeding Asian Games held in Hiroshima 1994, Bangkok 1998, and Busan 2002 & recently at Doha 2006 and created history in Indian sports by winning five consecutive Gold medals in the Asian Games so far.
1st World Cup of Kabaddi was organised in 2004 at Mumbai (India), India won the First World Cup by beating Iran in the finals. The second World Cup was held Panvel (India) in 2007 and India once again became Champion.
</p>
<h5><b>Rules Of Kabaddi</b></h5>
<p><b>Two Teams of Seven Players-</b>The first Kabaddi regulation is that there are two teams of seven players each.
Each side is limited to have seven players on the field at once.
This implies that a game of Kabaddi requires a minimum of 14 participants overall. 
</p>
<p><b>Each game is divided into two halves-</b>
Each Kabaddi game is divided into two halves, with a 20-minute break between each half.
The two sections are separated by a five-minute intermission.
The winning team is the one with the most points overall after both half of play. 
</p>
<p><b>Taking advantage of the opposition's side results in points-</b>
In kabaddi, the goal is to score points by attacking the side of the opponent.
When a player from one team crosses over into the other team's half of the field and tries to touch as many of their players as possible, it is said to be conducting a raid.
After that, the raider must make it back to their own half of the field without being discovered by the defence. 
</p>
<p><b>A raid that is successful is worth two points-</b>
A successful raid is one in which the raider touches at least one opponent player before making a safe return to their own half of the field.
The raiding squad receives two points for every successful raid. 
</p>
<p><b>If a player is caught during a raid, they are eliminated-</b>
A player who is caught by the opponent during a raid is out and is forced to leave the field of play.
Only if their team scores a point while they are out is the player permitted to rejoin the game. 
</p>
<h5><b>Schedule</b></h5>
<p>The qualifiers round will happen for each state and in that only the top 1 team from the state will be qualified for the UG Tournaments.</p>
	<p>29 teams will be playing in this tournament</p>
	<p>29 teams will be divided into six groups</p>
	<p>The top 1 team from the each group will be qualified for the Knockouts</p>
	<p>Six teams will be playing in Knockouts</p>
	<p>Hosts are Bengaluru</p>

<div class="container1">
        <a href="sc1" target="_blank">
            <button>SCHEDULE</button>
        </a>
    </div>
<div class="container">
  <form action="/eventRegister" method="post">
    <input type="hidden" id="KABADDI" name="tournament" value="KABADDI">
    <input type="submit" name="submit" value="register" class="btn brand z-depth-0">
  </form>  
</div>
<footer>
  <div class="card-panel black">
  <div class="header-descr3">Copyrights UGT 2023</div>
</div>
</footer>
</body>
</html>