<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>
<head>
<title>
		UGT - kho-kho
	</title>
	<meta name="viewport" content=
        "width=device-width,initial-scale=1.0" />
        <style>
        .header-descr
        {
            color:white;
            font-size: 35px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr1
        {
            color:blue;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr2
        {
            color:black;
            font-size: 40px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr3
        {
            color:red;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        ul {
		  list-style-type: none;
		  margin: 10;
		  padding: 0;
		  overflow: hidden;
		  background-color: white;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 16px;
		  
		}

		li a:hover {
			text-decoration:underline;
		  background-color: red;
		}
		p
		{
			padding:0px 20px;
		}
		h5
		{
			padding:0px 20px;
		}
		.container{
             height:50px;
            width:300px;
            font-size:26px;
            text-align:center;
            padding:0px 20px;

        }
    .container1{
          height:50px;
        width:300px;
        font-size:20px;
        text-align:left;
        padding:0px 20px;
    }
    footer
    {
      text-align:center;
    }
    </style>
          <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	</head>
 <div class="card-panel black">
       <div class="header-descr"><img src="gfgl.png" width="2%"/><b> UG Tournaments</b></div>   
       <div class="header-descr1">India's Biggest Sporting Event</div>
<ul style="position: relative;">
  <li><a href="/gfgh">HOME</a></li>
  <li><a href="/gfcricket">CRICKET</a></li>
  <li><a href="/gffootball">FOOTBALL</a></li>
  <li><a href="/gfhockey">HOCKEY</a></li>
  <li><a href="gfkabaddi">KABADDI</a></li>
  <li><a href="gfbadminton">BADMINTON</a></li>
  <li><a href="gfbasketball">BASKETBALL</a></li>
  <li><a href="gfvolleyball">VOLLEYBALL</a></li>
  <li><a href="gfthrowball">THROWBALL</a></li>
  <li><a href="gfmarathon">MARATHON</a></li>
  <li><a href="gfkh">KHO-KHO</a></li>
  <form style="float:right; position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 10px;" action="/logout" method="post">
    <div>
      <input type="submit" name="submit" value="logout" class="btn brand z-depth-0">
    </div>
  </form>
</ul>
</div>
<body>
	<div class="header-descr2"><img src="khp.jpg" width="3.5%"/><b>Kho-Kho</b></div>
  <div class="header-descr2" style="color: red; font-size: x-large;"><%= error %></div>
  <div class="header-descr2" style="color: green; font-size: x-large;"><%= registerSuccess %></div>
	<h5><b>History Of Kho-Kho</b></h5>
	<p>
		Experts believe that Kho Kho originated in the Maharashtra region of India and in the ancient times was played on chariots and was called Rathera. Rath is the Hindi translation for a chariot. The present version of Kho Kho, played by individuals on foot, originated in 1914 at the time of the first World War.
For those who are unaware, the Mahabharata is an old Indian epic that tells the story of a feud between two families of royal cousins, the Pandavas and the Kauravas.
The main conflict takes place over the course of 18 days.
On the thirteenth day of the battle, Guru Dronacharya—who taught both the Pandavas and the Kauravas how to fight—created the Chakravyuha, a lethal virtually impenetrable military formation that, if not destroyed, would lead to the defeat of the Pandavas.The Dronacharya Award, India’s highest award for sports coaches, incidentally, is named after the same Guru Dronacharya.
With none from the original five Pandavas managing to breach the deadly Chakravyuha, Abhimanyu, the young son of Arjuna, one of the five Pandava brothers, stepped up and broke through the Chakravyuha formation.
The endeavour cost Abhimanyu his life after being outnumbered in combat at the centre of the Chakravyuha but gave the Pandavas the opening they needed to eventually win the war.
Ring play, a defensive strategy used in the game of Kho Kho, is supposed to have been quite similar to the combat approach Abhimanyu used to breach the Chakravyuha.
According to experts, the game of Kho Kho, which was once played on chariots and went by the name of Rathera, is believed to have its roots in the Indian state of Maharashtra.
The Hindi word for chariot is "rath."
The current iteration of Kho Kho, played by people on foot, is 1914 at the time of the first World War.
Pune’s Deccan Gymkhana club initially came out with established rules and regulations for Kho Kho.
These gave the sport a disciplined appearance.
Kho Kho was displayed with other native Indian sports like kabaddi and mallakhamb in the 1936 Berlin Olympics.
While the women's national championship was contested in Kolhapur, Maharashtra in 1960–61, the inaugural All India Kho Kho Championship was staged in Vijayawada, Andhra Pradesh, in 1959–60. 
Additionally, Kho Kho demonstrations took place at the 1982 Asian Games in New Delhi and the first Asian Championship in Kolkata in 1996.
It was a medal-earning activity at the 2016 South Asian Games in Guwahati.
Almost 25 nations now field national Kho Kho teams.  
</p>
<h5><b>Rules of Kho-Kho</b></h5>
<p>
<p>There are two teams, each with a total of 12 people.</p>
<p>There are four 9-minute quarters or turns in the game.</p>
<p>There are only three members of the running team on the field, while the eight members of the chasing team adopt a kneeling posture at a predetermined space between two poles on squares that have been marked through the field lines.</p>
<p>Without crossing the line, they sit in the crosslane with their backs to one another.</p>
<p>In order to chase the runners first, one team member, known as the "chaser," stands close to one pole.</p>
<p>The chaser must touch or tap the runners while the runners attempt to prevent being touched by the chaser.</p>
<p>Three fresh runners (of the running squad) enter the fray when the chaser touches all three runners.</p> 
<p>While there are three runners on the field who can race inside a field-range defined by two poles, the members of the pursuing team take up places on the cross-lane</p>
<p>The cross lane may be crossed by runners, and they may also alter their running direction.</p>
<p>While pursuing the runners, the chaser is not permitted to cross the crosslane or change directions.</p>
<p>If necessary, he must touch the pole, reverse direction, and go on pursuing.</p>
<p>A point is given each time the chaser touches a runner.</p>
<p>The chaser may transfer control of his turn to any other player seated by tapping them on the back and saying the word "Kho."</p>
<p>Early Kho, touching without saying Kho, altering course while pursuing, cutting the cross lane, standing up without receiving a Kho, and late Kho are all considered fouls.</p>
<p>If there is a tie, there is an additional turn, and the one that takes the least amount of time to touch one runner from the other side wins.</p>
</p>
<h5><b>Schedule</b></h5>
<p>The qualifiers round will happen for each state and in that only the top 1 team from the state will be qualified for the UG Tournaments.</p>
	<p>29 teams will be playing in this tournament</p>
	<p>29 teams will be divided into six groups</p>
	<p>The top 1 team from the each group will be qualified for the Knockouts</p>
	<p>Six teams will be playing in Knockouts</p>
	<p>Hosts are Bengaluru</p>

<div class="container1">
        <a href="sc1" target="_blank">
            <button>SCHEDULE</button>
        </a>
    </div>
<div class="container">
  <form action="/eventRegister" method="post">
    <input type="hidden" id="KHOKHO" name="tournament" value="KHOKHO">
    <input type="submit" name="submit" value="register" class="btn brand z-depth-0">
  </form>  
</div>
<footer>
  <div class="card-panel black">
  <div class="header-descr3">Copyrights UGT 2023</div>
</div>
</body>
</html>