<!DOCTYPE html>
<html>
<head>
<title>
		UGT - Marathon
	</title>
	<meta name="viewport" content=
        "width=device-width,initial-scale=1.0" />
        <style>
        .header-descr
        {
            color:white;
            font-size: 35px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr1
        {
            color:blue;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr2
        {
            color:black;
            font-size: 40px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr3
        {
            color:red;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        ul {
		  list-style-type: none;
		  margin: 10;
		  padding: 0;
		  overflow: hidden;
		  background-color: white;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 16px;
		  
		}

		li a:hover {
			text-decoration:underline;
		  background-color: red;
		}
		p
		{
			padding:0px 20px;
		}
		h5
		{
			padding:0px 20px;
		}
		.container{
             height:50px;
            width:300px;
            font-size:26px;
            text-align:center; 
            padding:0px 20px;

        }
    .container1{
      height:50px;
      width:300px;
      font-size:20px;
      text-align:left;
      padding:0px 20px;

    }
      footer
    {
      text-align:center;
    }
    </style>
          <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	</head>
 <div class="card-panel black">
       <div class="header-descr"><img src="gfgl.png" width="2%"/><b> UG Tournaments</b></div>   
       <div class="header-descr1">India's Biggest Sporting Event</div>
<ul style="position: relative;">
  <li><a href="gfgh">HOME</a></li>
  <li><a href="gfcricket">CRICKET</a></li>
  <li><a href="gffootball">FOOTBALL</a></li>
  <li><a href="gfhockey">HOCKEY</a></li>
  <li><a href="gfkabaddi">KABADDI</a></li>
  <li><a href="gfbadminton">BADMINTON</a></li>
  <li><a href="gfbasketball">BASKETBALL</a></li>
  <li><a href="gfvolleyball">VOLLEYBALL</a></li>
  <li><a href="gfthrowball">THROWBALL</a></li>
  <li><a href="gfmarathon">MARATHON</a></li>
  <li><a href="gfkh">KHO-KHO</a></li>
  <form style="float:right; position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 10px;" action="/logout" method="post">
    <div>
      <input type="submit" name="submit" value="logout" class="btn brand z-depth-0">
    </div>
  </form>
</ul>
</div>
<body>
	<div class="header-descr2"><img src="mara.png" width="3.5%"/><b>Marathon</b></div>
  <div class="header-descr2" style="color: red; font-size: x-large;"><%= error %></div>
  <div class="header-descr2" style="color: green; font-size: x-large;"><%= registerSuccess %></div>
	<h5><b>History Of Marathon</b></h5>
<p>
	The Marathon as we know it today is over 120 years old, but there have been forms of long distance races since the time of the ancient Egyptians.
</p>
<p>
	The Marathon has been an Olympic distance since the modern Olympics started in 1896, but nothing like it was ever seen in the ancient Olympics, run from 776BC to 261AD. The longest race then was less than 5km. The Marathon was adopted as a central part of the modern Olympic programme, and takes place in countless cities all over the world today, purely because of its popular appeal to the imagination.

Humans had once run distances far greater than a marathon. As a hunter, one of man’s greatest assets was his stamina. He would run his prey ragged. The hunted animal would bound away to apparent safety, only for the dogged hunter to turn up alongside again. This would go on until the animal, squandering its energy in nervous bursts, was rendered too exhausted to resist.

Such obvious purpose to running was undermined as weaponry became more sophisticated, and humans able to kill at remote distance. In Egyptian times running was prized as a military skill. King Taharka instituted a long distance race specifically to keep his army up to scratch. The distance was coincidentally close to 100km, contested today as the standard “ultradistance” event. The race itself has been revived in recent years as the “Pharaonic 100km”, run from the Hawara pyramid at El Faioum to the Sakkara pyramids to the south-west of Cairo.
	</p>
<p>
	The tale upon which the modern Olympic Marathon rests is the mythic run of Pheidippides from Marathon to Athens. He was a professional messenger and, in 490BC, is supposed to have brought a message from the plains of Marathon, where the Greek Army had just won a crucial battle against the invading Persian Army of General Datis. After the battle, in which he may have taken part, he was dispatched to Athens to deliver the news: “Rejoice, we are victorious”. He did this, and no more, dropping dead with the delivery.

There are many variations of this story, most of them more plausible than this version. The Greeks may have been victorious, but the battle had not been conclusive, as the rest of the Greek Army was marching towards Athens to forestall a Persian landing much closer to the city. The most contemporaneous historian, Herodotus, wrote 50 years later that Pheidippides had been sent from Athens to Sparta, before the battle, to request help. He does not mention whether Pheidippides returned with the Spartan reply (which was: “No”). The Spartathlon race, which is held today over a distance of 240km, commemorates this slightly more likely version of events.
</p>
<p>
	Likely or not, Pheidippides’ death run from Marathon to Athens was incorporated into a poem by Robert Browning, and this accounts for the currency it had at the time Baron Pierre de Coubertin was attempting to resurrect the Olympic Games for the modern era.

De Coubertin was a Frenchman, who had grown up at a time of national shame. Trounced in the Franco-Prussian War, the French had lost national territory, been forced to pay reparations and forbidden a national army while Prussian troops occupied the country. There followed a civil war which further weakened French national standing. De Coubertin sought reasons for this weakness, and the apparent strength of France’s rival powers, Britain and Prussia.

He latched on to Britain’s “public” schools, and in particular their emphasis on sporting endeavour, as a crucial factor in building national character. On a tour of Britain he met William Brookes, founder of the Much Wenlock Olympic Society, which had already held its inaugural event in 1850, followed up in 1859 and 1885. De Coubertin attempted both to make sport compulsory in French schools and to promote an international sporting festival also based upon the ancient Olympics.

He launched his Olympic campaign in 1892, and two years later formed the International Olympic Committee at the Sorbonne. The delegates agreed to promote the first modern Olympics in 1896 in Athens, and subsequently at intervals of four years. One of the delegates was Michel Breal, who argued for a long-distance race as one of the events, and dusted off the hoary old story of Pheidippides in support. He carried his argument, but the Greek Government also had to be convinced that the Olympics should be held at all (See Distance Running 2012:3 for a fuller account of Breal’s support for an Olympic “Marathon”).
	</p>
<h5><b>Rules Of Marathon</b></h5>
<p>
	<p>
    A marathon must be greater than or equal to 26 miles 385 yards (42.195 Km) and an ultra is any distance greater than the marathon distance.</p>
    <p>Preferably the route has been distance certified.</p>
    <p>If not certified the Race Director must provide documentation as to how the course was measured. At a minimum course must be measured two times using an odometer or GPS and in the event of a discrepancy the longer distance must be used. Trail courses that don’t lend themselves to those forms of measurement must document their good faith effort to meet the marathon distance requirement.</p>
    <p>The event shall have a named race director(s) to supervise and take responsibility for the event.</p>
    <p>A race organization representative must be present at start and finish to certify the participant’s completion of the distance.</p>
    <p>The participant must traverse on foot, or hand cycle or wheelchair (rules and guidelines as defined by International Paralympic Committee) the entire race course.</p>
    <p>Event must have had a minimum of 60 days advanced publicity in a running publication, magazine, newspaper, website or race brochure.</p>
    <p>Verifiable results must be posted to the general public. E.g. website, newspaper, magazine.</p>
    <p>Event must be timed by a non participant.</p>
    <p>The event must have a minimum of 10 finishers. If an ultra and a marathon are being held simultaneously, the combined number of finishers meets this rule. Barkley Marathons Clause: If an event has a low percentage of finishers due to difficulty factors intentionally (e.g. 100K and 100 mile ultras) built into the course, then there must be at least 10 starters.</p>
    <p>A marathon shall be run without interruption except for natural events such as a thunderstorm, hail, tornado, downed power line, flooding, rock slide, etc.</p>
    <p>If temporarily interrupted by a natural event the marathon can be counted if at least 26 miles 385 yards was ultimately completed, possibly on a diverted course, and continuance is allowed by the race director.</p>
    <p>A stage or multi-day event will only count as one event and at least one day’s stage must include a distance of 26 miles 385 yards or greater.</p>
    <p>If a participant can register for single stages of a multi-day event then each continuous stage greater than or equal to 26.2 miles can be counted as a marathon.</p>
    <p>Completion of at least one 26.2 mile portion of an ultra may be counted as a marathon, if the race director verifies in the results.</p>
    <p>Participants shall retain information to substantiate completion of an event, such as: a finisher’s certificate, published event results, medal or completion award.</p>
    <p>The event must either start or finish or include 50% of the distance traversed in the country to be counted. A route that runs into two or more countries can only be counted as one. Participant is responsible for providing Race Director written assurance satisfying the 50% rule.</p>
    <p>Participant must be registered for the event to count. Guides, ultra distance “handlers”, pacers and bandits may not count the event if they were not assigned bib numbers and published verifiable finish results.</p>
    <p>The marathon portion of a triathlon event may be counted as a marathon.</p>
    <p>If an event allows an early start, it is the responsibility of the participant to ensure that the race organization correctly represents and verifies the participant’s time. An official timer must be present to record early start.</p>
    <p>“Shadow” or “satellite” events will not be counted as proxy to a regular, organized marathon event, but in a separate location. The race must physically occur in the country for which it is being counted.</p>
    <p>If you finish after the official closure time of the event, you can still count the event if you appear in race results with a finish time.</p>
    <p>Event participants must comply with the APPLICABLE rules of the race organization, respective governing body and local laws. Marathon Globetrotters condemn cheating, the use of IAAF banned substances and the transfer of race entries without the expressed permission of the event management.</p>
</p>
<h5><b>Schedule</b></h5>
<p>The qualifiers round will happen for each state and in that only the top 1 team from the state will be qualified for the UG Tournaments.</p>
	<p>29 teams will be playing in this tournament.</p>
	<p>29 teams will be divided into three groups.</p>
	<p>The top 3 teams from the each group will be qualified for the finals.</p>
	<p>Nine teams will be playing in finals.</p>
	<p>Hosts are Bengaluru</p>
<div class="container1">
        <a href="ugtt" target="_blank">
            <button>SCHEDULE</button>
        </a>
    </div>
<h5><b>RoadMap</b></h5>
<p>The marathon starts from Outer Ring Rd, near Marathalli, Kaverappa Layout, Kadubeesanahalli, Kadabeesanahalli, Bengaluru and ends at 28th km,Mysore Road,Bengaluru.</p>
 <div class="container1">
 	<a href="roadmap" target="_blank">
 		<button>ROADMAP</button>
</a>
</div>
<div class="container">
  <form action="/eventRegister" method="post">
    <input type="hidden" id="MARATHON" name="tournament" value="MARATHON">
    <input type="submit" name="submit" value="register" class="btn brand z-depth-0">
  </form>  
</div>
<footer>
  <div class="card-panel black">
  <div class="header-descr3">Copyrights UGT 2023</div>
</div>
</footer>
</body>
</html>