<!DOCTYPE html>
<html>
<head>
<title>
		UGT - Throwball
	</title>
	<meta name="viewport" content=
        "width=device-width,initial-scale=1.0" />
        <style>
        .header-descr
        {
            color:white;
            font-size: 35px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr1
        {
            color:blue;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr2
        {
            color:black;
            font-size: 40px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr3
        {
            color:red;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        ul {
		  list-style-type: none;
		  margin: 10;
		  padding: 0;
		  overflow: hidden;
		  background-color: white;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 16px;
		  
		}

		li a:hover {
			text-decoration:underline;
		  background-color: red;
		}
		p
		{
			padding:0px 20px;
		}
		h5
		{
			padding:0px 20px;
		}
		.container{
             height:50px;
            width:300px;
            font-size:26px;
           text-align:center;
            padding:0px 20px;

        }
    .container1{
          height:50px;
        width:300px;
        font-size:20px;
        text-align:left;
        padding:0px 20px;

    }
      footer
    {
      text-align:center;
    }
    </style>
          <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	</head>
 <div class="card-panel black">
       <div class="header-descr"><img src="gfgl.png" width="2%"/><b> UG Tournaments</b></div>   
       <div class="header-descr1">India's Biggest Sporting Event</div>
<ul style="position: relative;">
  <li><a href="gfgh">HOME</a></li>
  <li><a href="gfcricket">CRICKET</a></li>
  <li><a href="gffootball">FOOTBALL</a></li>
  <li><a href="gfhockey">HOCKEY</a></li>
  <li><a href="gfkabaddi">KABADDI</a></li>
  <li><a href="gfbadminton">BADMINTON</a></li>
  <li><a href="gfbasketball">BASKETBALL</a></li>
  <li><a href="gfvolleyball">VOLLEYBALL</a></li>
  <li><a href="gfthrowball">THROWBALL</a></li>
  <li><a href="gfmarathon">MARATHON</a></li>
  <li><a href="gfkh">KHO-KHO</a></li>
  <form style="float:right; position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 10px;" action="/logout" method="post">
    <div>
      <input type="submit" name="submit" value="logout" class="btn brand z-depth-0">
    </div>
  </form>
</ul>
</div>
<body>
	<div class="header-descr2"><img src="thr.jpg" width="2.5%"/><b>Throwball</b></div>
  <div class="header-descr2" style="color: red; font-size: x-large;"><%= error %></div>
  <div class="header-descr2" style="color: green; font-size: x-large;"><%= registerSuccess %></div>
<h5><b>History Of Throwball</b></h5>
<p>
Throwball is believed to have originated from a leisure activity that was well-liked by women in England and Australia during the 1930s, according to the Throwball Federation of India (TFI).
The game was introduced by the YMCA to Chennai, where ladies played it as a sport in the 1940s.Throwball is a non-contact ball sport played on a rectangular court by two teams each consisting of nine players.
Throwball was initially played in India as a women's sport in Chennai during the 1940s, and it is a popular sport throughout Asia, particularly on the Indian subcontinent.
Similar to volleyball, the YMCA (Young Men's Christian Association) is associated with the origins of the sport.
Even though they are older games, throwball and volleyball have a lot in common.The first set of throwball regulations were created in 1955, and the first national tournament in India was held in 1980.The sport's top regulating organisation is the International Throwball Federation . 
University of Regina students invented a brand-new game on August 18, 2008, near Reina Beach, Saskatchewan (Canada), dubbed the Ball Broke- Awesome!
As a recreational sport, ball.
No matter how many people were on each side, it was first played on beaches.
Later, it was created as a beach sport that was more erratic than basketball and required slightly more physical effort.
Jamie D. Anderson created the first set of regulations for a typical beach volleyball court.
Throw Ball later included these sets.
During the inaugural Throw Ball exhibition game in 2008, which was performed at the International Thunder Beach Training facility, spectator Travis Eftodie saw the act of ferocious throws. 
It is widely accepted that the Giant Tiger invented the first ball used for toss ball and delivered it to a Toonie in Regina, Saskatchewan.
In the 1930s, Throw Ball was quite popular among women in Australia and England.
Federation Inter-faculty de Thunder Ball (FITB), an inter-faculty organisation, was established in 2008.
In 2009, they also put up the first World Throwball Championship for female teams and cute lads.
The sport is currently quite popular in Brazil, Europe, and nations like Italy and the Netherlands.
Throw ball was introduced in India by Jagat Singh Chauhan, an alumnus of the YMCA; where it was played as women's sport in the 1940s. By 1950s the game spread to other cities. Soon, Throw Ball Federation of India (TFI) was formed, and the first Indian National Throw Ball Championship was conducted in Haryana. 
In 1990, a drastic change was seen in India, where both men and women were playing. The first set of rules for throw ball was formally composed by Harry Crowe Buck, a member of the YMCA. In December 2015, a Junior International Throw Ball match was conducted in Kuala Lumpur, Malaysia where a total of eight countries participated. 
Throw a ball; wear clothing
Players must put on a team shirt with their assigned number on the back and loose-fitting shorts.
Depart the ball.
The ball is bigger than a volleyball but otherwise comparable.
In order to provide the player more endurance even when handled roughly, the ball's outer material is handmade from synthetic material. 
</p>
<h5><b>Rules Of Throwball</b></h5>
<p>
<p>A team sport is throwball.
<p>There are twelve players on each team, seven of whom are active during play and five of whom are substitutes.</p>

<p>The match is played in the best-of-three-set format with a rally score and 25 points in each set.</p>

<p>The players must use both hands to catch the ball and only one hand to return it.</p>

<p>The player's shoulder/shoulder line should be used as the release point for the ball during serving.</p>

<p>No net contact should be made by the serving ball.</p>

<p>In order to receive the service ball, no double touches are permitted.</p>

<p>When the whistle blows, the players have five seconds to serve the ball.</p>

<p>Although they shouldn't cross the end line, players should serve the ball from the service zone.</p>
<p>Players are not permitted to move the ball from right to left or left to right since doing so results in penalty points.</p>

<p>There are two timeouts of 30 seconds each over the whole contest.</p>

<p>The players must don the right attire, which consists of shorts and a jersey with numbers printed on the front and back.</p>

<p>Only the numbers 1 through 12 may be used.</p>

<p>The ball cannot be caught by two players at once otherwise the team will lose points.</p>

<p>Throwball is played on a court that measures 12.2 metres by 18.3 metres overall, with neutral boxes of 1 metres on either side of the whole court.</p>

<p>At a height of 2.2 metres, the net is positioned in the middle of the court. </p> 
</p>
<h5><b>Schedule</b></h5>
<p>The qualifiers round will happen for each state and in that only the top 1 team from the state will be qualified for the UG Tournaments.</p>
	<p>29 teams will be playing in this tournament</p>
	<p>29 teams will be divided into six groups</p>
	<p>The top 1 team from the each group will be qualified for the Knockouts</p>
	<p>Six teams will be playing in Knockouts</p>
	<p>Hosts are Bengaluru</p>

<div class="container1">
        <a href="sc1" target="_blank">
            <button>SCHEDULE</button>
        </a>
    </div>
<div class="container">
  <form action="/eventRegister" method="post">
    <input type="hidden" id="THROWBALL" name="tournament" value="THROWBALL">
    <input type="submit" name="submit" value="register" class="btn brand z-depth-0">
  </form>  
</div>
<footer>
  <div class="card-panel black">
  <div class="header-descr3">Copyrights UGT 2023</div>
</div>
</footer>
</body>
</html>