<!DOCTYPE html>
<html>
<title>
		UGT - Volleyball
	</title>
	<meta name="viewport" content=
        "width=device-width,initial-scale=1.0" />
        <style>
        .header-descr
        {
            color:white;
            font-size: 35px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr1
        {
            color:blue;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr2
        {
            color:black;
            font-size: 40px;
            padding: 0px 20px;
            text-align:center;
        }
        .header-descr3
        {
            color:red;
            font-size: 15px;
            padding: 0px 20px;
            text-align:center;
        }
        ul {
		  list-style-type: none;
		  margin: 10;
		  padding: 0;
		  overflow: hidden;
		  background-color: white;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: black;
		  text-align: center;
		  padding: 14px 16px;
		  
		}

		li a:hover {
			text-decoration:underline;
		  background-color: red;
		}
		p
		{
			padding:0px 20px;
		}
		h5
		{
			padding:0px 20px;
		}
		.container{
             height:50px;
            width:300px;
            font-size:26px;
            text-align:center;
            padding:0px 20px;

        }
    .container1{
      height:50px;
      width:300px;
      font-size:20px;
      text-align:left;
      padding:0px 20px;

    }
      footer
    {
      text-align:center;
    }
    </style>
          <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	</head>
 <div class="card-panel black">
       <div class="header-descr"><img src="gfgl.png" width="2%"/><b> UG Tournaments</b></div>   
       <div class="header-descr1">India's Biggest Sporting Event</div>
<ul style="position: relative;">
  <li><a href="gfgh">HOME</a></li>
  <li><a href="gfcricket">CRICKET</a></li>
  <li><a href="gffootball">FOOTBALL</a></li>
  <li><a href="gfhockey">HOCKEY</a></li>
  <li><a href="gfkabaddi">KABADDI</a></li>
  <li><a href="gfbadminton">BADMINTON</a></li>
  <li><a href="gfbasketball">BASKETBALL</a></li>
  <li><a href="gfvolleyball">VOLLEYBALL</a></li>
  <li><a href="gfthrowball">THROWBALL</a></li>
  <li><a href="gfmarathon">MARATHON</a></li>
  <li><a href="gfkh">KHO-KHO</a></li>
  <form style="float:right; position: absolute; top: 50%; transform: translateY(-50%); right: 0; margin-right: 10px;" action="/logout" method="post">
    <div>
      <input type="submit" name="submit" value="logout" class="btn brand z-depth-0">
    </div>
  </form>
</ul>
</div>
<body>
	<div class="header-descr2"><img src="voll.jpg" width="3.5%"/><b>Volleyball</b></div>
  <div class="header-descr2" style="color: red; font-size: x-large;"><%= error %></div>
  <div class="header-descr2" style="color: green; font-size: x-large;"><%= registerSuccess %></div>
	<h5><b>History Of Volleyball</b></h5>
<p>
William G. Morgan, the physical director of the Young Men's Christian Association (YMCA) in Holyoke, Massachusetts, created volleyball in 1895.
For businesses who felt the new game of basketball to be too physically demanding, it was created as an indoor activity.
William G. Morgan, the physical director of the Young Men's Christian Association (YMCA) in Holyoke, Massachusetts, created volleyball in 1895.
For businesses who felt the new game of basketball to be too physically demanding, it was created as an indoor activity.
The original rules were written by Morgan and published in the first edition of the Official Handbook of the Athletic League of the Young Men's Christian Associations of North America. Morgan called the sport "mintonette," until a professor from Springfield College in Massachusetts noted the volleying nature of play and proposed the name "volleyball" (1897). 
The game was then promoted to other nations after quickly demonstrating that it had broad appeal for both sexes in American schools, playgrounds, the armed services, and other group.
The YMCA and the National Collegiate Athletic Association jointly released regulations in 1916. (NCAA).
The National YMCA Physical Education Committee held the inaugural national competition in the United States in New York City in 1922. 
The United States Volleyball Association (USVBA), which was established in 1928, is acknowledged as the country's governing and rule-making organisation.
With the exception of 1944 and 1945, the USVBA (now known as USA Volleyball (USAV)) has held annual national men's and senior men's (age 35 and above) volleyball championships since 1928.
A senior women's division (for those 30 and older) was created in 1977, while the organization's women's division was established in 1949.
The YMCA and the NCAA, which are USAV members, host additional national competitions throughout the country. During World War I, when national organisations were established, American servicemen introduced volleyball to Europe.
In 1947, Paris hosted the founding of the Federation Internationale de Volleyball (FIVB), which later relocated to Lausanne, Switzerland in 1984. 
The first Far East Games in Manila in 1913 marked the start of international volleyball competition.
Volleyball was played in Asia on a bigger court with a lower net and nine players on a teamcentury starting in the early 1900s and lasting until after World War II.    
Standardized playing regulations and officiating were adopted as a result of the FIVB-sponsored world volleyball championships (for men only in 1949; for men and women in 1952 and consecutive years).
At the Tokyo Olympic Games in 1964, volleyball was added as a sport for men and women. 
Czechoslovak, Hungarian, Polish, Bulgarian, Romanian, and Soviet (later, Russian) teams long predominated European championships.
More men's and women's titles have been won by Soviet teams at the international and Olympic levels than by any other country.
Their success was credited to broad public interest, organised play, and training at all ability levels.
The Olympic champion Japanese women's team from 1964, which received extensive media attention, demonstrated private enterprise engagement in sports.
Young women employed by the sponsoring corporation spent their leisure time working out, practising as a team, and competing under the guidance of rigorous and skilled coaches. 
This women's team, which was supported by the Japanese Volleyball Association, earned a name for itself in international play by taking home the World Championship in 1962, 1966, and 1967 as well as the 1964 Olympics.
However, the Cuban women's team dominated the Olympics and the World Championships around the turn of the century. 
</p>
<h5><b>Rules Of Volleyball</b></h5>
<p><b>The Serve</b></p>
<p>Until contact, the server must serve from behind the finish line (dark green or blue).</p>
<p>You can serve the ball overhand or underhand.</p>
<p>Before serving, the ball must be readily seen to the opposition.</p>
<p>A point may result from a served ball that brushes the net and falls to the other side.</p>
<p>A volley is used to determine who serves the first game, and the loser of the previous game serves the succeeding games.</p>
<p>Only a bump may return a serve.</p>
</p>
<p><b>Scoring</b></p>
<p>
<p>We'll score the rallies.</p>
<p>Every time the ball is scored, a point will be awarded.A defence error or out-of-bounds hit will result in an offensive score.</p>
<p>An offensive turnover, out-of-bounds hit, or serve into the net will result in a defence score.</p>
<p>A 25-point game will be played.</p>
<p>must triumph by two points.</pre>
</p>
<p>Basic Violations</p>
<p>
<p>crossing the boundary after receiving a serve.</p>
<p>failure to successfully serve the ball over the net.</p>
<p>striking the ball improperly (carrying, palming, throwing, etc).</p>
<p>any body part touching the net while the ball is in play.</p>
<p>No foul will be signalled and the ball will stay in play if the ball is driven into the net with enough power to have the net make contact with an opposing player.</p> 
</p>
<h5><b>Schedule</b></h5>
<p>The qualifiers round will happen for each state and in that only the top 1 team from the state will be qualified for the UG Tournaments.</p>
	<p>29 teams will be playing in this tournament</p>
	<p>29 teams will be divided into six groups</p>
	<p>The top 1 team from the each group will be qualified for the Knockouts</p>
	<p>Six teams will be playing in Knockouts</p>
	<p>Hosts are Bengaluru</p>

<div class="container1">
        <a href="sc1" target="_blank">
            <button>SCHEDULE</button>
        </a>
    </div>
<div class="container">
  <form action="/eventRegister" method="post">
    <input type="hidden" id="VOLLEYBALL" name="tournament" value="VOLLEYBALL">
    <input type="submit" name="submit" value="register" class="btn brand z-depth-0">
  </form>  
</div>
<footer>
  <div class="card-panel black">
  <div class="header-descr3">Copyrights UGT 2023</div>
</div>
</footer>
</body>
</html>