<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		UGT - Roadmap
	</title>
	<style>
		body
		{
			background:gray;
		}
		img
		{
			 display: block;
            margin-left: auto;
            margin-right: auto;
            width:90%;
            height:80%;
		}
		h2
		{
			text-align:center;
		}
	</style>
	</head>
<body>
	<h2>Roadmap of Marathon</h2>
	<img src="roadmap.jpg.jpeg"/ >
</body>
</html>