<!DOCTYPE html>
<html>
<head>
<title>
	UGT - Schedule
</title>
<meta name="viewport" content=
        "width=device-width,initial-scale=1.0" />
<style>

	h3
	{
		padding:0px 20px;
	}
	table
	{
		width:90%;
		height:70%;
		margin-left:auto;
		margin-right:auto;
		padding:0px 20px;
	}
th{
	background:linear-gradient(230deg,#2c3e50 0%,#bdc3c7 100%);
	padding:0px 20px;
}
.day
{
background:linear-gradient(230deg,#bdc3c7 0%,#2c3e50 100%); 
padding:0px 20px;
}
.day1
{
	background-color: black
}
td{
	padding:0px 20px;
	text-align:center;font-size:20px;
}
th{
	padding:0px 20px;
	font-size:20px;
}
h3{
	text-align:center;
	padding:0px 20px;
}
h2
{
	text-align:center;
	padding:0 20px;
}
 .header-descr2
        {
            color:black;
            font-size: 40px;
            padding: 0px 20px;
            text-align:center;
        }
</style>

</head>
<body>
<div class="day">
<h2>Road to Finale</h2></div>
</div>
<table border=1 cellspacing=5px;cellpadding=5px;>
<tr><td class="day"colspan="4"; align="center">knockouts</td></tr>
<tr>
<th>Day</th>
<th>Match</th>
<th>Venue</th>
<th>Time</th>
</tr>
<tr>
<td><pre>Day 1</pre></td>
<td><pre>Group 1 Winner vs Group 4 Winner[Knockout 1]</pre></td>
<td><pre>Bengaluru</pre></td>
<td><pre>6:00PM</pre></td> 
</tr>
<tr>
<td><pre>Day 2</pre></td>
<td><pre>Group 2 Winner vs Group 5 Winner[Knockout 2]</pre></td>
<td><pre>Bengaluru</pre></td>
<td><pre>6:00PM</pre></td> 
<tr>
<td><pre>Day 3</pre></td>
<td><pre>Group 3 Winner vs Group 6 Winner[Knockout 3]</pre></td>
<td><pre>Bengaluru</pre></td>
<td><pre>6:00PM</pre></td> 
</tr>
<tr><td class="day"colspan="4"; align="center">Semi Finals</td></tr>
<tr>
<th>Day</th>
<th>Match</th>
<th>Venue</th>
<th>Time</th>
</tr>
<tr>
<td><pre>Day 5</pre></td>
<td><pre>Knockout 1 Winner vs Knockout 2 Winner</pre></td>
<td><pre>Bengaluru</pre></td>
<td><pre>6:00PM</pre></td> 
</tr>
<tr>
<td><pre>Day 6</pre></td>
<td><pre>Knockout 2 Winner vs Knockout 3 Winner </pre></td>
<td><pre>Bengaluru</pre></td>
<td><pre>6:00PM</pre></td> 
</tr>
<tr>
<td><pre>Day 7</pre></td>
<td><pre>Knockout 3 Winner vs Knockout 1 Winner</pre></td>
<td><pre>Bengaluru</pre></td>
<td><pre>6:00PM</pre></td> 
</tr>
</table>
<h3>In the three Knockout teams each team will play two games and the top two teams will be playing final</h3>
<table border=1 cellspacing=5px;cellpadding=5px;>
<tr><td class="day"colspan="4"; align="center">Final</td></tr>
<tr>
<th>Day</th>
<th>Match</th>
<th>Venue</th>
<th>Time</th>
</tr>
<td><pre>Day 9</pre></td>
<td><pre>Top 1 Team Vs Top 2 Team</pre></td>
<td><pre>Bengaluru</pre></td>
<td><pre>6:00PM</pre></td>
</table>
</body>
</html>